{% extends 'posts/full_post.html' %}
{% block edit %}
    <form method="post">
        {% csrf_token %}
        <p>title</p>
        {{ form.title }}
        <p>text</p>
        {{ form.text }}
        <input type="submit">
    </form>
{% endblock %}