{% extends 'base.html' %}
{% block content %}
    <section class="card">
        <div class="flex">
            <button class="change"><a href="{% url 'editPost' pk=post.id %}">Изменить</a></button>
            <form method="post">
                {% csrf_token %}
                <button class="delete" type='submit' name="_method" value="delete"> Удалить </button>
            </form>

        </div>
        <h3 class="padding-margin">{{ post.title }}</h3>
        <p class="padding-margin">{{ post.text }}</p>
        <p class="padding-margin">{{ post.date }}</p>
        <div class="flex">
            {% for tag in post.tag.all %}
                <p class="padding-margin">{{ tag.name }}</p>
            {% endfor %}
        </div>

        {% block edit %}
        {% endblock %}
    </section>

{% endblock %}