{% extends "base.html" %}
{% block content %}
    <section class="card">
        {% for post in posts %}
            <h1 class="padding-margin"><a href="{% url 'fullPost' post.id %}">{{ post.title }}</a></h1>
            <p class="padding-margin"> {{ post.text }}</p>
            <p class="padding-margin"> {{ post.date }}</p>
            <p class="padding-margin">Теги:</p>
            <div class="flex">
            {% for tag in post.tag.all %}
                <p class="padding-margin">{{ tag.name }}</p>
            {% endfor %}
            </div>
        {% endfor %}
    </section>

{% endblock %}