* {
    margin: 0;
    padding: 0;
}

a {
    color: #494949
}

.flex {
  display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.card {
    width: 1000px;
    padding: 30px 20px;
    margin: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.padding-margin {
    padding: 10px 5px;
    margin: 10px 0;
}

.change, .delete {
    padding: 7px 20px;
    margin: 0 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
.change {
    background: #47b34f;
}

.delete {
    background: #ff6154;
}

.input {
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 7px 20px;
    border: none;
    background-color: #e3e5ff;
}