{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <title>Document</title>
</head>
<body class="flex-center">
    {% block content %}
    {% endblock %}
</body>
</html>